@use "../abstracts/variables" as *;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > div {
  display: grid;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  place-items: center;
  height: 100vh;
  background-color: var(--main-bg);
  button {
    font-family: "League Spartan";
  }
}

.main {
  width: 100vw;
  max-width: 35rem;
  text-align: center;
}
